.scroll-container {
  display: flex;
  width: 400%;
  height: 100vh;
}

.section {
  flex: 0 0 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  color: white;
}

.section.one { background: #111; }
.section.two { background: rgb(231, 126, 56); }
.section.three { background: #005f73; }
.section.four { background: #023047; }
